In [1]:
import os
import pandas as pd

# 1) Load Data and Sort By Date.

In [135]:
filename = '/Users/zacharyellis/Desktop/updated_runs.xlsx'
df = pd.read_excel(filename)
df['start_date'] = pd.to_datetime(df['start_date'])
df = df.sort_values(by=['start_date'], ascending=False)

# 2) Optional (Filter Data)

In [139]:
name_filter = df['name'] == "Morning Run"
distance_filter = df['distance'] < .69
df.loc[distance_filter & name_filter, :]

,id,name,type,start_date,start_day,distance,moving_time,elevation_gain
71,5542735380,Morning Run,Run,2021-06-25,Fri,0.00,0s,0
139,4764775650,Morning Run,Run,2021-02-10,Wed,0.32,02:30:00,7
220,4691179649,Morning Run,Run,2021-01-18,Mon,0.62,06:07:00,26
10,4193354015,Morning Run,Run,2020-10-14,Wed,0.68,06:52:00,21
208,3838881151,Morning Run,Run,2020-07-30,Thu,0.00,06:40:00,0
109,3345366813,Morning Run,Run,2020-04-24,Fri,0.52,04:24:00,0

# 3) Aggregate Functions

In [112]:
df['distance'].min()

0.0

# Ways to convert to numpy

In [119]:
df.to_numpy()
df.values
df.to_dict

<bound method DataFrame.to_dict of              id                      name type start_date start_day  distance  \
157  5834648518                        CD  Run 2021-08-22       Sun      1.41
158  5834491757               Main event   Run 2021-08-22       Sun      4.72
159  5834199521                   Warm up  Run 2021-08-22       Sun      2.08
160  5817861567               Morning Run  Run 2021-08-19       Thu      3.21
161  5807104587               Morning Run  Run 2021-08-17       Tue      3.67
..          ...                       ...  ...        ...       ...       ...
32   2731365950               Sunday run   Run 2019-09-22       Sun      9.10
33   2719109752               Morning Run  Run 2019-09-18       Wed      4.19
34   2701774919  Thursday morning Run 1/2  Run 2019-09-12       Thu      2.22
35   2697896298              Tuesday 5 mi  Run 2019-09-10       Tue      5.06
36   2652800221            Monday morning  Run 2019-08-26       Mon      2.32

             moving_time  elevation_gain
157             16:47:00              43
158  1900-01-01 15:03:00             119
159             18:29:00              39
160  1900-01-01 08:54:00             100
161  1900-01-01 10:50:00             119
..                   ...             ...
32              01:11:00               0
33   1900-01-01 07:21:00               0
34   1900-01-01 01:21:00              46
35   1900-01-01 15:56:00               0
36              17:10:00              48

[237 rows x 8 columns]>

# Export Pandas DataFrames to csv and excel files

In [127]:
os.getcwd()
df.to_excel(excel_writer='python_export.xlsx', index=False)

In [128]:
df.head()

,id,name,type,start_date,start_day,distance,moving_time,elevation_gain
157,5834648518,CD,Run,2021-08-22,Sun,1.41,16:47:00,43
158,5834491757,Main event,Run,2021-08-22,Sun,4.72,1900-01-01 15:03:00,119
159,5834199521,Warm up,Run,2021-08-22,Sun,2.08,18:29:00,39
160,5817861567,Morning Run,Run,2021-08-19,Thu,3.21,1900-01-01 08:54:00,100
161,5807104587,Morning Run,Run,2021-08-17,Tue,3.67,1900-01-01 10:50:00,119